/* DarkMode */

/* Estilos del interruptor del modo oscuro */
.suiche {
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    color: white;
}

span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    background: none;
    color: #fff;
}

.suiche::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .5);
}

.suiche.active {
    background-color: orange;
    color: #111111;
}

.active::after {
    right: 0;
    left: unset;
}

/* Estilos del cuerpo en modo oscuro */
body.dark {
    background-color: #2e2e2e;
    transition: 1s ease all;
    color: white;
}

body.dark,
body.dark section,
body.dark #portafolio,
body.dark .about-services,
body.dark #study,
body.dark .card,
body.dark header {
    background-color: #111111;
    color: white;
    transition: 1s ease all;
}

body.dark nav {
    background-color: #25252578;
    color: rgb(255, 255, 255);
    border-bottom: solid white 1px;
}

body.dark footer {
    border-top: 1px solid white;
    background: linear-gradient(to right, #333333eb, #a5a5a575, #333333eb);
}

body.dark footer h4,
body.dark footer p,
body.dark .card p {
    color: white;
}

body.dark h1 {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

/* Estilos específicos para secciones en modo oscuro */
body.dark #portafolio {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

body.dark #study,
body.dark .card {
    border-top: 1px solid white;
}

/* Estilos específicos para el encabezado en modo oscuro */
body.dark .textos-header {
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, #55555575, #333333eb, #a5a5a575),
                url(../img/Fondo/chill_-lofi-u0026-synth-para-programar_-estudiar-y-montar-tu-p-_online-video-cutter.com_.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 

/* Estilos específicos para el encabezado en modo oscuro */
body.dark header {
    height: 430px;
}



